.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition-duration: 0.3s;
  position: relative;
}

.link {
  height: 100%;
  width: 100%;
  display: flex;
  transition-duration: 0.3s;
  justify-content: center;

  &:hover {
    img {
      opacity: 0.1;
    }
  }

  img {
    transition-duration: 0.3s;
  }
}

.text {
  font-family: 'Source Serif Pro';
  width: 100%;
  text-align: center;
  transition-duration: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  opacity: 0;

  span {
    margin-top: 5px;
    display: block;
  }
}

.visible {
  opacity: 1;
}

.name {
  text-transform: capitalize;
}

.date {
  font-size: 0.8rem;
}
