@import '../../../styles/variables.scss';

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.root {
  padding-bottom: 70px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 200px);
  gap: 30px;
  overflow: hidden;
  transition-duration: 0.3s;
}

.arrows {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 140px;

  svg {
    user-select: none;
    opacity: 1;
    cursor: pointer;
    fill: #fff;
    height: 35px;
    overflow: visible;

    polygon,
    path {
      transition: all 0.5s $ease;
    }

    &:hover polygon,
    &:hover path {
      transition: all 1s $ease;
      fill: $gold;
    }

    &:not(:active) .arrow {
      animation: arrow-anim 2.5s $ease 1;
    }

    &:not(:active) .arrowFixed {
      animation: arrow-fixed-anim 2.5s $ease 1;
    }
  }
}
