@import 'variables';

.about {
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.2);
  padding: 70px 0;
  opacity: 0;
  transition-duration: 0.3s;

  p {
    margin-top: 10px;
    padding-left: 60px;
    line-height: 1.8rem;
    font-size: 1.2rem;
    position: relative;

    > span {
      display: flex;

      span {
        overflow: visible !important;
      }
    }

    img {
      object-fit: contain;
      margin-left: 10px !important;
    }

    &::before {
      content: '';
      display: block;
      width: 50px;
      height: 2px;
      background-color: $gold;
      margin-left: -60px;
      position: relative;
      top: 15px;
    }

    &:first-of-type {
      padding-left: 0;

      &::before {
        width: 0px;
        height: 0px;
      }
    }
  }
}
