@import 'variables';

.footer {
  padding-bottom: 40px;

  h2 {
    margin-bottom: 0;
    text-align: center;
    padding: 50px 0;
    color: $gold;
    font-weight: normal;
    font-size: 2rem;
  }
}

.contacts {
  position: relative;

  &__list {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    background-color: #34353a;
    gap: 10px;
  }

  &__link {
    display: inline-block;

    &:hover {
      svg {
        opacity: 1;
      }
    }

    svg {
      height: 30px;
      margin: 0 10px;
      fill: #fff;
      opacity: 0.6;
      transition-duration: 0.3s;
    }
  }
}
