@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/SourceSerifPro-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/SourceSerifPro-SemiBold.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

ul,
li {
  list-style: none;
}

img {
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #34353a;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

h2 {
  font-family: 'Source Serif Pro', serif;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.container {
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.visible {
  opacity: 1;

  p {
    top: 0;
  }

  .button {
    bottom: 0;
  }

  .skills__item {
    left: 0;
    opacity: 1;
  }

  .portfolio__item {
    opacity: 1;
    left: 0;
  }
}
