@import 'variables';

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.portfolio {
  padding-bottom: 70px;

  &__arrows {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 140px;

    svg {
      user-select: none;
      opacity: 1;
      cursor: pointer;
      fill: #fff;
      height: 35px;
      overflow: visible;

      polygon,
      path {
        transition: all 0.5s $ease;
      }

      &:hover polygon,
      &:hover path {
        transition: all 1s $ease;
        fill: $gold;
      }

      &:not(:active) .arrow {
        animation: arrow-anim 2.5s $ease 1;
      }

      &:not(:active) .arrow-fixed {
        animation: arrow-fixed-anim 2.5s $ease 1;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // grid-auto-rows: 1fr;
    grid-template-rows: repeat(3, 200px);
    gap: 30px;
    overflow: hidden;
    transition-duration: 0.3s;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition-duration: 0.3s;
    opacity: 0;
    position: relative;
    left: 50px;

    @for $i from 1 through 20 {
      &:nth-child(#{$i + 1}) {
        transition-delay: #{$i * 0.1s};
      }
    }
  }

  &__link {
    height: 100%;
    width: 100%;
    display: flex;
    transition-duration: 0.3s;
    justify-content: center;

    &:hover {
      img {
        opacity: 0.1;
      }
    }

    img {
      transition-duration: 0.3s;
    }

    p {
      font-family: 'Source Serif Pro';
      width: 100%;
      text-align: center;
      transition-duration: 0.3s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2rem;

      span {
        margin-top: 5px;
        display: block;
      }
    }
  }
}

.card {
  &__name {
    text-transform: capitalize;
  }

  &__date {
    font-size: 0.8rem;
  }
}
