.skills {
  padding-bottom: 70px;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }

  &__item {
    transition-duration: 0.3s;
    background-color: #3d3e42;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    left: -20px;

    @for $i from 1 through 20 {
      &:nth-child(#{$i + 1}) {
        transition-delay: #{$i * 0.1s};
      }
    }

    p {
      margin-top: 10px;
    }

    img {
      max-width: 60px !important;
    }
  }
}
