.skills {
  padding-bottom: 70px;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }

  &__item {
    background-color: #3d3e42;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    left: -20px;

    p {
      margin-top: 10px;
    }

    img {
      max-height: 60px;
      max-width: 60px;
    }
  }
}
